header {
  text-align: center;
  padding: 50px 20px;
  color: #ec2525;
  margin-top: 80px;
}

.Title1-Accueil {
  font-size: 40px;
  margin: 20px 0;
}

.Title2-Accueil {
  font-size: 20px;
  color: #ffc50a;
}

.Paragraph-Accueil {
  font-size: 15px;
  margin: 20px 0;
  color: #ffc50a;
}

.Fauteuil {
  max-width: 100%;
  height: auto;
}
@media (max-width: 445px) {
  header {
    margin-top: 150px;
    padding: 0;
    width: auto;
  }
  .Title1-Accueil {
    padding-top: 20px;
    text-align: center;
    font-size: 30px;
  }
  .Title2-Accueil {
    display: block;
  }
  .fauteuil {
    max-width: 100%;
    height: auto;
    margin-top: 50px;
  }
}
