header {
  text-align: center;
  padding: 50px 20px;
  color: #ec2525;
  margin-top: 80px;
}

.Title1-Accueil {
  font-size: 40px;
  margin: 20px 0;
}

.Title2-Accueil {
  font-size: 20px;
  color: #ffc50a;
}

.Paragraph-Accueil {
  font-size: 15px;
  margin: 20px 0;
  color: #ffc50a;
}

.Fauteuil {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
