.contact-section {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header h1 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 2.5em;
  color: white;
}

header p {
  text-align: center;
  margin-bottom: 40px;
  font-size: 1.2em;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 40px;
}

.form-group {
  display: flex;
  flex-direction: column;
  color: white;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #0077be;
  color: white;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #005fa3;
}

.contact-details {
  margin-bottom: 40px;
}

.contact-details h2 {
  font-size: 2em;
  margin-bottom: 10px;
  color: #ec2525;
}

.contact-details p {
  font-size: 1.2em;
  margin: 5px 0;
  color: #ffc50a;
}

.testimonials {
  margin-bottom: 40px;
}

.testimonials h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #ec2525;
}

.testimonial {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: #ffc50a;
}

.testimonial img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-right: 20px;
}

.testimonial p {
  font-size: 1.2em;
  color: #ffc50a;
}
.pour {
  color: #ffc50a;
}
