.logo {
  width: 80px;
  border-radius: 50%;
}

.nav-container {
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  background-color: #ffa07a;
  position: fixed;
  top: 0;
  left: 0;
  padding: 16px;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 30px;
  align-items: center;
}
li {
  padding-right: 32px;
}
