.logo {
  width: 100px;
  border-radius: 50%;
}

.nav-container {
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  background-color: #ffc50a;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 30px;
  align-items: center;
}
li {
  padding-right: 32px;
}
nav ul li a {
  color: black;
}
@media (max-width: 445px) {
  .nav-container {
    display: flex;
    justify-content: center;
  }
  .navbar {
    justify-content: center;
    flex-direction: column-reverse;
    padding: 0;
  }
}
